.container{
  margin:10px;
  padding:10px;
  background-color:black;
  color:white;
  width:50%;
  height:150px;
  box-shadow:5px 5px 5px black;
  text-align: center;
  margin-left:25%;
  margin-top:10%;
}
.btn{
  background-color: goldenrod;
  color:black;
  font-size:larger;
  border:none;
}